body{
    animation: widthChange 2s ease 0s 1 normal forwards;;

}

.color-menu{
    display: flex;
    height: 100vh;
    width: 50px;
    gap: 20px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;   
}

.transition{
    transition: all 1s ease-in;
}

@keyframes widthChange {
    6%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

