body, :after, :before{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 0px 17px 0px 17px;
}

.brand a{
    text-decoration: none;
}

.nav-ul{
    display: flex;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin: 16px;
}

li a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

li a:hover{
    transition: 0.4s all ease-in;
    border-bottom: 2px solid rgb(172, 251, 92);
}

.active{
    border-bottom: 2px solid rgb(172, 251, 92);
    transition: 0.4s all ease-in;
}

.hamburger{
    /* margin-top: 20rem; */
    display: none;
   
}

form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 17px;
    margin-top: 7rem;
}

button{
    padding: 10px;
    cursor: pointer;
}

input{
    /* width: 20rem; */
    padding: 20px;
}

.message{
    color: red;
}

@media screen and (max-width: 760px){
   .nav-ul{
    position: absolute;
    right:0;
    display: none;
    /* transition: 5s all ease-in-out; */
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: rgba(0,0,0,0.5);
    height: 16rem;
    margin-top: 4.5rem;
    flex-direction: column;
   }

   .nav-item{
    display: flex;
    /* flex-direction: column; */
    justify-items: center;
    margin: 17px;
    text-align: center;
}

li a{
    color: #ffff;
}

.hamburger{
    /* margin-top: 20rem; */
    display: flex;
   justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.7s all ease-in-out;

}

.bar1,.bar2,.bar3{
margin: 2px;
width: 20px;
height: 3px;
background: black;
}

 .change .bar1{
    transform: translate(0,4px) rotate(45deg);

}

 .change .bar3{
    opacity: 0;
}

 .change .bar2{
    transform: translate(0,-3px) rotate(-45deg);
}

}

.red{
    color: red;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}